@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter';
    }

    :root {
        --spendec-purple: #7326F1;
    }

    h1 {
        font-size: 52px;
        font-weight: 900;
        line-height: 72px;
        width: 624px;
    }

    p {
        font-size: 16px;
        line-height: 32px;
    }

    button {
        padding: 10px 16px;
        border: 1px solid var(--spendec-purple);
        border-radius: 8px;
        width: 132px;
    }

    .user-image {
        width: 60px;
        height: 60px;
        background-color: var(--spendec-purple);
    }

    section .container {
        gap: 92px;
    }

    .illustration-slide {
        width: 564px;
        height: 576px;
        border-radius: 12px;
        background: #FAFAFB;
        box-shadow: 4px 4px 28px 0px rgba(115, 38, 241, 0.04) inset;
    }

    .imageContainer img {
        display: none;
        transition: opacity 0 ease-in-out;
    }

    .imageContainer img.active{
        display: block;
        opacity: 1;
    }

    .ad-text {
        top: 80%;
        left: 360px;
    }

    
    /* Dashhbord css */

    .dashboard-body {
        background: #FAFAFB;
    }

    .shadow-md {
        height: 88px;
    }

    .money-in-image {
        background: #f1fff1;
    } 
    
    .money-out-image {
        background: #fff4f0;
    }

    .custom-hover:hover path {
        stroke: #ffffff;
        transition: all 300ms ease-in-out;
    }

    .selected, .selected path{
        background: var(--spendec-purple);
        color: #ffffff;
        stroke: #ffffff;
    }

}