@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter';
    }

    h1 {
        font-size: 52px;
        font-weight: 900;
        line-height: 72px;
        width: 624px;
    }

    p {
        font-size: 16px;
        line-height: 32px;
    }

    button {
        padding: 10px 16px;
        border: 1px solid #7326F1;
        border-radius: 8px;
        color: #7326F1;
        width: 132px;
    }

    .get-started {
        background: #7326F1;
        color: #ffffff;
    }

    .user-image {
        width: 60px;
        height: 60px;
        background-color: #7326F1;
    }

    section .container {
        gap: 92px;
    }

    .illustration-slide {
        width: 564px;
        height: 576px;
        border-radius: 12px;
        background: #FAFAFB;
        box-shadow: 4px 4px 28px 0px rgba(115, 38, 241, 0.04) inset;
    }

    .imageContainer img {
        display: none;
        transition: opacity 0.5s ease-in-out;
    }

    .imageContainer img.active, .imageContainer .active {
        display: block;
        opacity: 1;
    }

}